<!--google.maps embed-->
<div class="container">
  <div class="col-md-12 container google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d700.6533597263337!2d-111.97656386914991!3d33.347879844706064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1d91e49a16a8fe6d!2sSakana+Sushi+%26+Grill!5e0!3m2!1sen!2sus!4v1486436304459" width="1120" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <!--these styles are just for the google maps embed-->
  <style>
    .google-maps {
      position: relative;
      padding-bottom: 75%;
    / / This is the aspect ratio height: 0;
      overflow: hidden;
    }

    .google-maps iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }
  </style>
</div>
