<script type="text/javascript" src="js/jquery-1.8.0.js"></script>
<!-- NAVBAR -->
<div class="navbar-wrapper">
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: #CB1A03" href="#">{{title}}</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['']"><i class="glyphicon glyphicon-home"></i>   Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i>     Purchase Tickets</a></li>
        <li><a [routerLink]="['/contact']"><i class="glyphicon glyphicon-envelope"> Contact</i></a></li>
        <li><a [routerLink]="['/directions']"><i class="glyphicon glyphicon-globe"></i>   Map & Directions</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Privacy Policy</a></li>
      </ul>

    </div>
  </div>
</nav>
<!--END OF NAVBAR-->

<router-outlet></router-outlet>
