<html>
<div class="container"><!-- whole page -->
  <!-- START THE MAIN DESCRIPTION AND IMAGE "FEATURETTE -->
  <div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Trapped In A Room With A Zombie<br><span class="text-muted">Think You're Smart Enough To Get Out?</span></h2>
        <p class="lead text-center">You have sixty minutes to escape the room. There is one hungry zombie chained to the wall. Every 5minutes a buzzer sounds & the chain is released another foot from the wall... </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" [src]="'../../assets/img/face.jpg'" alt="Generic placeholder image">
      </div>

    </div>

    <hr class="featurette-divider">
  </div>

  <div> <!-- marketing -->
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4 text-center">
          <h2 style="color: #CB1A03">Location & Directions</h2>
          <p style="font-size: 18px">You can add HTML directly into this element to render on the page.
            Just edit this element to add your own HTML.
            We are located at 5047 East Elliot Road on the South West corner of Elliot and 51st Street. Phoenix, AZ 85044
            We are in the shopping center where there is an Eos Gym, Bank of America, Millies Hallmark and Caffe Boa. We are between the salon and quilt shop in the corner!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4 text-center">
          <h2 style="color: #CB1A03">Scheduling a Show</h2>
          <p style="font-size: 18px">Shows are ongoing and are currently scheduled for Fridays, Saturdays and Sundays. Times vary week to week, so be sure to see which shows work best for you. However PRIVATE shows may be booked and scheduled based upon YOUR needs. Just contact us! If you are redeeming you GROUPON please make sure you go to our buy tickets page to redeem your code and reserve a space at a show. If you don't do this, we won't have a place for you when you show up and then we will be sad!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4 text-center">
          <h2 style="color: #CB1A03">Purchasing Tickets</h2>
          <p
            style="font-size: 18px"> Tickets are only $28.00 and should be purchased in advance since shows are small and space is limited to 12 people. We may be able to accommodate walk ups if space allows, you can call us the day of the show at (602) 527-3009 to see if we have room for you! Group discounts are available!
            Please do NOT book into a private party or show unless you are WITH that group! Please, Please... Please!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
  </div>
</div>
</html>
